@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_SC_Regular.ttf?v=297b088424be212207df2ce8b98e335468b782aa6b96832af0b8b773d711e2b1') format('truetype');
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/fonts/harmonyos-sans/HarmonyOS_Sans_SC_Bold.ttf?v=43a424b85e47fb53a17b3b32026a71801f86f8e022ca6798d186b47d39fa5f01') format('truetype');
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
}
